<ion-view view-title="News" ng-controller="NewsCtrl">
    <ion-content class="has-header has-footer">

        <ion-item>

            <div  ng-repeat="news in news_items">

                <div ng-click="getnewsdetail(news)"class="list card">

                    <div class="item item-avatar">
                        <img src="{{news.imageUrl}}">
                        <h2>{{news.name}}</h2>
                        <p>{{news.distance}} kms</p>
                    </div>

                    <div class="item item-body">

                        <p>
                            {{news.description | limitTo:150}}
                        </p>

                    </div>

                    </div>

            </div>

        </ion-item>


    </ion-content>
</ion-view>
