<ion-view view-title="Traffic" ng-controller="trafficctl">
    <ion-content class="has-header has-footer">
        <ion-list>
            <ion-item class="item-remove-animate item-thumbnail-left item-icon-right"
                      ng-repeat="issue in road_events" type="item-text-wrap"

         
                <div ng-click="gettrafficdetail(issue)">
                <div class="row">

                    <div class="col col-75">
                        <h2 class="list_heading">{{issue.properties.locationArea}}</h2>
                        <p>{{issue.properties.eventComments | limitTo:150}}</p>
                        <p>{{issue.properties.eventCreated | limitTo:150}}</p>

                    </div>
                    <div class="col"> <p class="kilo_news wam_right ">{{issue.distance}}<small>kms</small></p></div>
                </div>

                <i class="icon ion-chevron-right icon-accessory"></i>
                </div>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
